/* Company Logo */
@company_logo_url: 'resources/images/company-logo.png';
@company_logo_width: 295px;
@company_logo_height: 25px;

/* Banners */

@banner_homepage_url: 'resources/images/banners/homepage-banner.jpg';
@call_url: 'resources/images/call.jpg';
@suit_url: 'resources/images/suit.jpg'; 
@tools_url: 'resources/images/tools.jpg'; 


@lightings_url: 'resources/images/banners/lightings.jpg';
@broadcast_lightings_url: 'resources/images/banners/broadcast-lightings.jpg';
@sound_system_url: 'resources/images/banners/sound-system.jpg';
@broadcast_url: 'resources/images/banners/broadcast.jpg';
@stage_curtains_url: 'resources/images/banners/stage-curtains.jpg';
@transmitters_url: 'resources/images/banners/transmitters.jpeg';
@surveillance_url: 'resources/images/banners/surveillance.jpg';
@solar_url: 'resources/images/banners/solar.jpg';
@generator_url: 'resources/images/banners/generator.jpg';