.container {
	/* Header */
	&.header-top {

		padding: 30px 0;

		.header-info {

			line-height: @company_logo_height;
			font-size: 12px;

			> i {
				padding-right: 5px;
			}
		}

		@media @max-mobile {
			padding: 20px 0;
		}
	}
	/* Clients */
	&.clients {
		/*padding: 30px 0;*/

		/*img {
			-webkit-filter: grayscale(100%);
    		filter: grayscale(100%);
    		transition: 0.5s;
    		&:hover {
    			-webkit-filter: grayscale(0);
    			filter: grayscale(0);
    		}
		}*/
	}
	/* Footer */
	&.footer-body {
		padding: 30px 20px;

		div.footer-body-card {
			padding: 0 20px;
			div.body-card-header {
				padding-bottom: 5px;
    			border-bottom: 2px solid black;
    			margin-bottom: 20px;

    			h5 {
    				text-transform: uppercase;
    				margin-top: 0;
    			}
			}
			div.body-card-copy {
				p {
					line-height: 1.3;
					margin-bottom: 20px;
				}
				div.info {
					margin-bottom: 10px;

					&:last-child {
						margin-bottom: 0;
					}
					i {
						padding: 12px;
					    border-radius: 50%;
					    font-size: 16px;
					    height: 40px;
					    width: 40px;
					    line-height: 16px;
					    margin-right: 5px;
					    text-align: center;
					}
				}
				div.info-header {
					margin-bottom: 5px;
					line-height: 24px;
				}
				div.btn-container {
					margin-bottom: 10px;
					padding-bottom: 20px;
				}
				div.map {
					width: 100%;
					height: 120px;
				}
			}
		}

		@media @max-mobile {
			padding: 20px 20px;

			.row {
				> div {
					padding: 0;
					div.footer-body-card {
						padding: 0 10px;
					}
				}
			}
		}
	}
	/* Powered by */
	&.powered-by-body {
		padding: 12px;
		font-size: 12px;
	}
}

.container-fluid {
	&.background-call {
		padding: 0;
		background: url(@call_url);
		background-size: cover;
		background-position: center;

		div.container {
			padding: 90px 0;
			&.short {
				padding: 60px 0;
			}

			@media @max-tablet {
				padding: 30px !important;
			}
		}
	}
	&.background-suit {
		padding: 0;
		background: url(@suit_url);
		background-size: cover;
		background-position: center;

		div.container {
			padding: 120px 0;

			@media @max-mobile {
				padding: 60px 0;
			}
		}
	}
	&.background-tools {
		padding: 0;
		background: url(@tools_url);
		background-size: cover;
		background-position: center;

		&.lightings {
			background-image: url(@lightings_url);
			background-position: top;
		}

		&.broadcast-lightings {
			background-image: url(@broadcast_lightings_url);
		}

		&.broadcast {
			background-image: url(@broadcast_url);
		}

		&.sound-system {
			background-image: url(@sound_system_url);
		}

		&.stage-curtains {
			background-image: url(@stage_curtains_url);
		}

		&.transmitters {
			background-image: url(@transmitters_url);
			background-position: top;
		}

		&.surveillance {
			background-image: url(@surveillance_url);
		}

		&.solar {
			background-image: url(@solar_url);
		}

		&.generator {
			background-image: url(@generator_url);
			background-position: top;
		}

		div.container {
			padding: 120px 0;
			&.short {
				padding: 60px 0;
			}
		}

		@media @max-mobile {
			div.container {
				padding: 60px 20px;

				h1 {
					line-height: 1.3 !important;
				}
			}
			&.contact {
				div.container {
					padding: 30px;
				}
			}
		}
	}
	&.map {
		height: 50vh;
		width: 100%;
		padding: 0;
	}

	@media @max-mobile {
		padding: 0 !important;
	}
}

/* Nav Bar */

.navbar {

	&.main {

		border: none;
		border-radius: 0;
		margin-bottom: 0;

		.container {

			padding: 0;

			.navbar-collapse {

				text-align: center;

				.navbar-nav {

					display: inline-block;
		    		float: none;
		    		vertical-align: top;

					> li {
						> a {
							text-transform: uppercase;
							padding: 15px 20px;
						}
					}

					> li:not(.open) {
						> a {
							&:hover:not(.is_active) {

								opacity: 0.5;
							}
						}
					}

					ul.dropdown-menu {
						li {
							a {
								padding: 5px 20px 5px 40px;
								font-size: 16px;
								font-family: @font_face_light;
								i {
									position: absolute;
									left: 15px;
    								vertical-align: middle;
    								line-height: 18px;
								}
							}
						}
					}

					@media @max-mobile {
						width: 100%;
						margin: 0;
					}
				}
			}

			@media @max-tablet {
				.navbar-header {
					margin: 0;

					button.navbar-toggle {

						border: none;

						&:hover {
							background: none !important;
						}

						&.collapsed {
							/*margin: 0;*/
							background: none !important;
						}
					}
				}
				div.navbar-collapse {
					border-top: 1px solid @base_light;

					.navbar-nav {
						li {
							a {
								text-align: left;
							}

							ul.dropdown-menu {
								background-color: white;
								li {
									a {
										color: black;
										&:hover {
											opacity: 0.5;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Carousel */

#heroCarousel.carousel {

    height: 50vh;

    .carousel-inner {
    	height: 50vh;
		background: url(@banner_homepage_url) no-repeat;
	   	background-position: center center;
	    background-size: cover !important;

	    .carousel-caption {
	    	bottom: 0;
	    	top: 25%;
	    	h1 {
	    		font-size: 46px !important;
	    		text-transform: uppercase;
	    	}
	    	p {
	    		font-size: 24px;
	    	}
	    }
    }

    .item {
    	height: 50vh;
    }

    @media @max-mobile {
    	height: 30vh;

    	.item {
    		height: 30vh;
    	}

	    .carousel-inner {
	    	height: 30vh;
	    	.carousel-caption {
	    		top: 0;
	    		left: 5;
	    		right: 5;
	    		h1 {
	    			font-size: 24px !important;
	    		}
	    	}
	    }
	    .carousel-indicators {
	    	bottom: 5px;
	    }
    }
}

/* Body Copy */

div.body-copy {

	@media @max-mobile {
		padding: 30px;
	}

	p {
		font-size: 16px;
		text-align: justify;
		letter-spacing: 1px;
		margin-bottom: 20px;
		line-height: 1.6;
		&.opening {
			&::first-letter { 
    			font-size: 300%;
    			float: left;
    			line-height: 50px;
    			padding-right: 5px;
    		}
		}
	}

	div.body-copy-header {

		margin-bottom: 60px;

		h1 {
			letter-spacing: 1px;
			margin: 10px;

			&.hr {
				@media @min-tablet {
					&:before, &:after {
						content: '';
					    width: 100px;
					    border-bottom: 2px solid rgba(0, 0, 0, 0.09);
					    display: inline-block;
					    vertical-align: middle;
					}
					&:before {
						margin-left: -100%;
		    			margin-right: 20px;
					}
					&:after {
						margin-right: -100%;
		    			margin-left: 20px;
					}
				}
			}
		}
		h4, h5 {
			letter-spacing: 1px;
			margin: 0;
			text-transform: uppercase;
			line-height: 1.5;
		}
		&.no-margin {
			margin-bottom: 0;
		}

		span {
			font-size: 18px;
		}

		@media @max-tablet {
			margin-bottom: 30px;
		}
	}

	div.circle-container {
		height: 260px;
	    width: 260px;
	    padding: 20px;
	    border-radius: 50%;
	    position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    margin: auto;

	    div.body-copy-header {
	    	position: absolute;
		    height: 132px;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
	    }

	    @media @max-mobile {
	    	position: static;
    		margin-bottom: 60px;
	    }
	}

	div.body-copy-cards {
		> div {

			padding: 0 10px;
			margin-bottom: 20px;

			div.holder {
				transition: 0.3s;

				-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
			    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
			    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);

			    &:hover {
			    	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
			    }
			}

			div.card-image {

				background-color: @base;
				/*background-image: url(@tools_url);*/

				&.lightings {
					background-image: url(@lightings_url);
				}

				&.broadcast-lightings {
					background-image: url(@broadcast_lightings_url);
				}

				&.broadcast {
					background-image: url(@broadcast_url);
				}

				&.sound-system {
					background-image: url(@sound_system_url);
				}

				&.stage-curtains {
					background-image: url(@stage_curtains_url);
				}

				&.transmitters {
					background-image: url(@transmitters_url);
				}

				&.surveillance {
					background-image: url(@surveillance_url);
				}

				&.solar {
					background-image: url(@solar_url);
				}

				&.generator {
					background-image: url(@generator_url);
				}

				background-size: cover;
    			height: 180px;
			}

			div.card {
				padding: 40px 20px;

				&.product {
					min-height: 180px;
				}

				i.card-icon {
					padding: 20px;
				    border-radius: 50%;
				    font-size: 24px;
				    margin-bottom: 20px;
				    height: 70px;
				    width: 70px;
				    line-height: 35px;

				    position: absolute;
				    top: 145px;
				    left: 20px;
				}
				a.link {
					position: absolute;
				    bottom: 20px;
				    left: 10px;
				    right: 10px;
				}
				h4 {
					line-height: 1.3;
				}

				&.light {
					/*border: 1px solid black;*/
					transition: 0.5s;
					i.card-icon {
						transition: 0.5s;
					}
				}
			}
		}
		@media @max-mobile {
			margin-left: -10px !important;
    		margin-right: -10px !important;
			&.row {
				margin: 0;
			}
		}
	}

	div.body-copy-list {

		> div {
			padding: 0;
		}
		ul {
			list-style: none;
			padding: 0;

			li {
				padding: 10px;
				border-bottom: 1px solid;
				&:last-child {
					border: none;
				}

				@media @max-tablet {
					&.with-border-bottom {
						&:last-child {
							border-bottom: 1px solid;
						}
					}
				}
			}
		}
	}

	a.btn {
		margin: 30px 0;
		font-size: 16px;

		&.no-margin-bottom {
			margin-bottom: 0;
		}
		&.no-margin {
			margin: 0;
		}
	}
}

/* Button */

a.btn, .btn {
	&.rimport-btn {
		transition: 0.5s;
		border: 1px solid black;
	}
}

/* Table */

table {
	font-size: 16px;
	margin-bottom: 0;
}

/* Form */

form {
	font-size: 16px;
	input, textarea {
		font-size: 16px !important;
	}
}

/* Owl Carousel */

.owl-carousel {
	&.gallery {
		img {
			border: 1px solid @secondary_font_color;
			max-width: 221px;
		}
		.img-thumbnail {
		    width: 180px;
		    height: 140px;
		    background-size: cover;
		    background-repeat: no-repeat;
		    border-radius: 0;
		    background-position: center center;
		    background-color: transparent;
		    border: none;
		}
	}
}

/* General */

#scroll-to-top {
	height: 42px !important;
	width: 42px !important;
	opacity: 0.8;
	@media @max-mobile {
		right: 10px !important;
		bottom: 10px !important;
	}
}

a.isHeader {
	text-decoration: none !important;
}

.left-17 {
	left: 17px !important;
}

.left-19 {
	left: 19px !important;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.no-margin-top {
	margin-top: 0 !important;
}

.no-padding-top {
	padding-top: 0 !important;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-top-20-mobile {
	@media @max-mobile {
		margin-top: 20px !important;
	}
}

.padding-right-left-5 {
	padding: 0 5px !important;
}

.align-with-button {
	line-height: 36px;
	vertical-align: middle;

	@media @max-mobile {
		line-height: 1.5;
	}
}

@media @max-tablet {
	.margin-bottom-20-mobile {
		margin-bottom: 20px !important;
	}
}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;

    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);

    transition: 0.3s;
}

#clogo {
	display: none;
	position: absolute;

	> img {
		height: 20px;
	}

	&.with-bg {
		background-color: white;
	}

	@media @max-mobile {
		left: 15px;
	}
}

.banner {
	background-color: gray;
	width: 100%;
	padding: 0;
	height: 30vh;
}

.with-sidebar {
	padding: 30px;
	max-width: 1155px;
	margin: auto;

	p {
		font-family: @font_face_light;
		font-size: 16px;
		text-align: justify;
		letter-spacing: 1px;
		margin-bottom: 20px;
		line-height: 1.6;
		&.opening {
			&::first-letter { 
    			font-size: 300%;
    			float: left;
    			line-height: 50px;
    			padding-right: 5px;
    		}
		}
	}

	.sidebar {
		padding: 20px;
		background-color: #f2f2f2;
		/*border-radius: 5px;*/

		ul {
			list-style: none;
			padding: 0;
			text-align: left;
			margin: 0;

			li {
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				} 
			}
		}
	}

	.main-container {
		padding: 30px 30px;

		> div {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		h4 {
			&:first-child {
				margin-top: 0;
			}

			color: @secondary_font_color;
			margin: 30px 0;
			font-family: @font_face_bold;
		}

		.panel {
			margin: 30px 0 0 0;

			ul {
				li {
					margin-bottom: 10px;
					&:last-child {
						margin-bottom: 0;
					}
					a {
						color: @base;
						font-size: 16px;
					}
				}
			}
		}

		.suppliers {
			
			> div {
				padding: 0 10px;
				margin-bottom: 20px;
			}

			margin: 20px -10px 20px -10px;

			.supplier {
				padding: 20px;
				border: 1px solid @secondary_background;
				.logo {
					img {
						width: 100%;
						max-width: 221px;
					}
					margin-bottom: 10px;
				}
				.company-name {
					font-size: 16px;
					font-family: @font_face_bold;
					color: @secondary_font_color;
					margin-bottom: 5px;
				}
				.address {
					font-size: 16px;
					font-family: @font_face_light;
				}
			}
		}
	}
}

ul.links {
	li {
		&.heading {
			padding: 0;
			padding-bottom: 10px;
			border-bottom: 1px solid #d9d9d9;
			text-align: center;
			h4 {
				margin: 0;
				color: @base;
			}
		}
		padding: 5px 0 5px 30px;
		a {
			color: @secondary_font_color;
			font-size: 16px;
			font-family: @font_face;
			line-height: 1.3;
			i {
				position: absolute;
				left: 15px;
				vertical-align: middle;
				line-height: 18px;
			}
		}
	}
}

.owl-carousel .owl-wrapper-outer {
	@media @max-mobile {
		text-align: center;
	}
}

.owl-theme .owl-controls .owl-page {
	@media @max-mobile {
		display: none !important;
	}
}

.hidden-tablet {
	@media @max-tablet {
		display: none !important;
	}
}